.ProcessSearch{
    .content{
        background: white;
        padding: 24px;
        min-height: 100%;
        border-radius: 8px;
        margin-bottom: 10px;
    }
    
    .title{
        line-height: 3em;
    }
}